<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">

    <link href="{{ static('example/jsoneditor/dist/jsoneditor.min.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ static('example/jsoneditor/dist/jsoneditor.min.js') }}"></script>
    <title>Edit</title>
    <style>
        .jsoneditor .menu button#saveDocument {
            width: 40px;
            background: #e3eaf6 none;
        }
    </style>
</head>
<body>
    <div id="jsoneditor" style="width: 100%; height: 100%; position:absolute; top:0; left:0"></div>

    <button type="button" id="saveDocument">Save</button>

    <script>
        function request(type, url, data) {
            var http = new XMLHttpRequest();
            http.open(type, url);
            http.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            http.send(data);
            http.onreadystatechange = function () {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        location.reload();
                    }
                }
            };
        }


        // create the editor
        var container = document.getElementById("jsoneditor");

        var options = {
            mode: 'tree',
            modes: ['code', 'form', 'text', 'tree', 'view'], // allowed modes
            error: function (err) {
                alert(err.toString());
            }
        };

        var saveDocument = document.getElementById('saveDocument');

        var json = {{ json_data | json }};
        var editor = new JSONEditor(container, options, json);

        var originalSetMode = editor.setMode;
        function setMode(mode) {
            originalSetMode.call(this, mode);
            document.getElementsByClassName("menu")[0].appendChild(saveDocument);
            editor.setMode = setMode.bind(editor);
        }
        editor.setMode = setMode.bind(editor);

        // get json
        document.getElementsByClassName("menu")[0].appendChild(saveDocument);
        saveDocument.onclick = function () {
            //var blob = new Blob([editor.getText()], {type: 'application/json;charset=utf-8'});
            //saveAs(blob, 'document.json');
            request("PUT", "/example/{{ _id }}", editor.getText());
        };
    </script>
</body>
</html>