<!DOCTYPE html>
<html>
    <head>
        <title>example</title>
        <script src="{{ static('example/js/request.js') }}"></script>
        <script>
            function _new(url) {
                var name = prompt("Please enter a name");
                request("POST", url+'/'+name, JSON.stringify({"name": name}));
            }

            function _del(url) {
                request("DELETE", url);
            }
        </script>
    </head>
    <body>
        <a href="/example">example</a>
        <ul>
            {% for e in examples %}
            <li>
                <a href="/example/{{ e }}">{{ e }}</a>
                <button onclick="window.location='/example/edit/{{ e }}';">edit</button>
                <button onclick="_del('/example/{{ e }}')">del</button>
            </li>
            {% endfor %}
        </ul>
        <button onclick="_new('/example')">new</button>
    </body>
</html>